.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.txt-white {
  color: #fff !important;
}
.pr-10 {
  padding-right: 10%;
}
.pd-left-11 {
  padding-left: 11%;
}
.pd-left-7 {
  padding-left: 7%;
}
.pd-right-5 {
  padding-right: 5%;
}
.new-footer {
  background: #182129;
  min-height: 240px;
  padding-top: 80px;
  padding-bottom: 35px;
  object-fit: contain;
}
.new-footer-logo {
  width: 125px;
  height: 41px;
  margin-top: -10px;
  object-fit: contain;
}
.new-footer-title {
  font-size: 17px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #fff;
  padding-bottom: 10px;
  object-fit: contain;
}
.new-footer-link {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #9ca7be;
  display: block;
  object-fit: contain;
}
.new-footer-copyright {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #9ca7be;
}
a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .new-footer {
    padding-top: 55px;
  }
  .pd-btm-45 {
    padding-bottom: 45px;
  }
  .pd-left-10 {
    padding-left: 10%;
  }
  .pd-bottom-6 {
    padding-bottom: 6% !important;
  }
  .pd-top-10 {
    padding-top: 10%;
  }
  .pd-bottom-z-8 {
    margin-top: 0.8rem !important;
  }
  .copy-rigth-center {
    text-align: center !important;
  }
  .reverse-icon-soci {
    display: flex;
    flex-flow: column-reverse;
  }
  .pd-right-5 {
    padding-right: none;
  }
  /* .login-area {
    position: absolute !important;
    top: 20px !important;
    text-align: center;
  } */
}
.mt-5 {
  margin-top: 3rem !important;
}
.login-area-nav li {
  display: inline-block !important;
  font-size: 15px;
  margin: 4px 7px;
  padding-right: 20px;
  border-right: none !important;
}
.login-area-nav li:last-child {
  border-right: none !important;
  padding-right: 0;
  margin: 0 0 0 15px;
}
.login-area-nav li a {
  color: #fff;
}
.login-area-nav li a:hover {
  color: #999;
}
.login-area-nav li img {
  margin-right: 8px;
}
.login-area-nav li span {
  margin: 0 10px;
  color: #939393;
}
.login-area-nav li.active a {
  color: #999;
}
.login-area-nav li a.active {
  color: #999;
}
.login-area-nav li a.logout {
  color: #9b3349;
}
/* .login-area {
  position: relative;
  float: right;
  right: 0px;
  top: 5px;
} */
.header .btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
}
